@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "bw";
  src: url("https://robindelaporte.fr/codepen/play/BwModelicaSS01-ExtraBold.woff")
    format("woff");
}

body {
  background-color: theme(colors.primary);
  font-family: "bw";
  color: #eee;
}

button {
  background-color: theme(colors.primary);
  border-radius: 99px;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

input {
    background-color: transparent;
    border-bottom: 1px solid theme(colors.primary);
}

input:focus {
    outline: none;
}